.button:active {
  opacity: .5;
  background: gray;
}
 
.div {
  background: #ff7400;
}

.container {
  max-width: 100%;
  padding: 10px !important;
}

p {
  padding-left: 10px;
  padding-right: 10px;
}

.hr-text {
  line-height: .5em;
  position: relative;
  outline: 0;
  border: 0;
  color: black;
  text-align: center;
  height: 1em;
  opacity: .5;

  &:before {
    content: '';
    // use the linear-gradient for the fading effect
    // use a solid background color for a solid bar
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: .5px;
  }

  &:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    line-height: 1em;
    // this is really the only tricky part, you need to specify the background color of the container element...
    color: #818078;
    background-color: #fcfcfa;
  }
}
